.btn-add {
    margin: 20px 20px 0 20px;
}

.task-adder {
    align-items: center;
    display: flex;
    padding-bottom: 25px;
    border-top: 3px solid black;
    background: #1f1e1e;
}

.add-task-icon {
    color: #4caf50;
    margin: 30px 20px 0 20px;
}