.task {
    display: block;
    font-size: 1.3em;
    line-height: 1.8em;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.task:hover {
    background: #9aca9c;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.task > .task-remover {
    float: right;
    margin-right: 20px;
    padding-top: 6px;
    vertical-align: middle;
}

.task > .task-remover:hover {
    cursor: pointer;
}

.task > .remover-visible { 
    visibility: visible;
}

.task > .remover-hidden {
    visibility: hidden;
}

.task > .icon-state {
    color: black;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 15px 0 10px;
    width: 18px;
}

.completed {
    text-decoration: line-through;
    color: rgba(146, 145, 145, 0.61);
}

.task-content {
    display: inline-block;
}

.highlighted {
    background: #63b766;
}

.task-content > span {
    color: black;
    cursor: default;
}