.task-box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border: 5px solid black;
    min-height: 400px;
    transition: all 1s ease-in-out;
    border-radius: 15px;
    min-width: 350px;
    background: #b3dcb5;
}

.bottom {
    margin-top: auto;
}

.form-group {
    color:  rgba(232, 232, 232, 0.870588);
}

.form-group > label {
    margin-right: 15px;
}

.task-icon {
    margin-right: 10px;
}