.task-box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border: 3px solid grey;
    min-height: 400px;
    transition: all 1s ease-in-out;
    min-width: 350px;
    padding: 0 20px 10px 20px;
}

.bottom {
    margin-top: auto;
}

.form-group {
    color: gray;
}

.form-group > label {
    margin-right: 15px;
}

.task-icon {
    margin-right: 10px;
}