.task {
    display: block;
    font-size: 1.3em;
    line-height: 1.8em;
}

.task > .highlighted {
    background: #63b766;
}


.task > .task-remover {
    margin-right: 8px;
    font-size: 0.75em;
    color: grey;
    vertical-align: middle;
}

.task > .task-remover:hover {
    cursor: pointer;
}

.task > .remover-visible { 
    visibility: visible;
}

.task > .remover-hidden {
    visibility: hidden;
}