.task-box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border: 10px solid black;
    min-height: 400px;
    transition: all 1s ease-in-out;
    border-radius: 15px;
    background: #b3dcb5;
    width: 100%;
    text-align: left;
}

.bottom {
    margin-top: auto;
}

.form-group {
    color:  rgba(232, 232, 232, 0.870588);
}

.form-group > label {
    margin-right: 15px;
}

.task-icon {
    margin-right: 10px;
}

.top-bar {
    background: black;
    padding: 20px;
}